.toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-ibm-nps-feedback-tab::before {
    background-image: url("../images/icons/info.png");
    width: 25px;
    left: 0.2em;
    background-size: 100% auto;
}

.toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-ibm-nps-feedback-tab.is-active::before {
    background-image: url("../images/icons/info.png");
    width: 25px;
    left: 0.2em;
    background-size: 100% auto;
}

#ibm-nps-feedback {
    overflow: hidden;
    width: 560px;
}

#ibm-nps-feedback .ibm-alternate-background {
    background-image: url("../images/Leadspace-SIM_IMG_3173526.jpg");
    background-size: 200%;
    background-position: 60% 30%;
}

#ibm-nps-feedback .ibm-band .ibm-center-block .ibm-center {
    background: rgba(0, 0, 0, 0.5)
}

#ibm-nps-feedback .ibm-card .ibm-card__image .ibm-resize {
    width: 30%;
}

#ibm-nps-feedback .ibm-nps-feedback-card {
    margin-bottom: 0;
}

#ibm-nps-feedback-response {
    display: none;
}

.ibmNps-container.light-blue .ibmNps-legend__medium {
    color: #464646 !important;
}

label[for="ibmNps-score-0"],
label[for="ibmNps-score-1"],
label[for="ibmNps-score-2"],
label[for="ibmNps-score-3"],
label[for="ibmNps-score-4"],
label[for="ibmNps-score-5"],
label[for="ibmNps-score-7"],
label[for="ibmNps-score-9"] {
    display: none;
}

.ibmNps-legend.ibm-legend__label {
    text-align: center;
}

.ibmNps-legend.ibm-legend__label>div:nth-child(1) {
    width: 70px;
}

.ibmNps-legend.ibm-legend__label>div:nth-child(2) {
    width: 25px;
}

.ibmNps-legend.ibm-legend__label>div:nth-child(3) {
    width: 50px;
}

.ibmNps-legend.ibm-legend__label>div:nth-child(4) {
    width: 25px;
}

.ibmNps-legend.ibm-legend__label>div:nth-child(5) {
    width: 70px;
}

.ibmNps-legend.ibm-legend__label div {
    font-size: 14px !important;
    font-family: inherit !important;
    background-color: transparent !important;
    display: inline-block !important;
    line-height: inherit !important;
    cursor: inherit !important;
    color: #464646 !important;
    padding: 5px !important;
    margin: auto;
}

@media only screen and (min-width: 0px) and (max-width:579px) {
    .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-ibm-nps-feedback-tab::before {
        left: 1.2em;
    }
    .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-ibm-nps-feedback-tab.is-active::before {
        left: 1.2em;
    }
}