html,
body.ibm-type {
    font-family: "IBM Plex Sans", "IBM Plex Mono";
}

.node--type-w3-passport-advantage .field--name-field-abstract,
.node--type-w3-passport-advantage .field--name-field-keywords,
.content #edit-openid-connect-client-generic-login,
.content #edit-openid-connect-client-generic-login,
.field--name-field-downloadable-file,
.field--name-field-release-date,
.field--name-field-download-version,
.field--name-field-document-location,
.field--name-field-operating-system,
.field--name-field-internal-use-only,
.ibm-masthead-rightside,
.ibm-published-url-by-id,
.ibm-contact-widget-btn,
.content-field_uid,
#taxonomy-table-list,    /* #760 */
#ibm-special-format,     /* #760 */
#prerequistie-source,
#instruction-source,
#file-source,
#use-fix-central,
#search-header-wrapper,
#ibm-contact-module,
#ibm-search-form,
#ibm-signin-minimenu-container li,
#edit-openid-connect-client-generic-login,
article.node--type-w3-passport-advantage header,
article.node--type-technical-blog-post .ibm-northstart-product-documentation-title,
#block-ibm-carbon-content,
#taxonomy-source {
    display: none;
}

.ibm-published-url-description.node__meta {
    display: inline-block;
}

.ibm-published-url {
    display: inline-block;
    vertical-align: text-top;
}


/*
.ibm-northstart-content-page-title {
    font-size: 28px;
    font-weight: bold;
}

.ibm-northstart-content-page-body {
    font-size: 14px;
    font-weight: normal;
}

.ibm-northstart-product-documentation-title {
    font-size: 20px;
    font-weight: bold;
}

.ibm-northstart-section-title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 15px;
}

.ibm-northstart-Paragraphs {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.625rem;
    padding: 0 0 15px;
}

.ibm-northstart-documentation-information-title {
    font-size: 20px;
    font-weight: normal;
}

.ibm-northstart-documentation-information-label {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 5px;
}

.ibm-northstart-documentation-information-data {
    font-size: 16px;
    font-weight: normal;
}

.ibm-northstart-related-information-title {
    font-size: 16px;
    font-weight: bold;
}
*/

/*IE11*/
@media screen and (-ms-high-contrast: none) {
    #ibm-drupal-leadspace {
        height: 250px;
    }
        
    #block-ibm-carbon-content{
        display: block!important;
    }
        
    #spng-search {
        top: 15px;
    }
        
    dds-leadspace-block-heading a {
        font-size: 40px;
    }
}
/*IE11*/

.ibm-background-blue-77 {
    background-color: #252e6a;
}

.field--type-string {
    margin: 0 0 0.8em;
}

.field--type-entity-reference,
.field--type-datetime {
    margin: 0 0 1em;
}

#ibm-northstar-icons.ibm-ind-link {
    padding-bottom: 0;
}

.ibm-icononly a[class*='-link'] {
    margin-bottom: 0;
    /* padding-left: 2.1em; */
}

#ibm-content-main button.ibm-carousel-prev,
#ibm-content-main button.ibm-carousel-next {
    display: flex;
}

#ibm-content-main ul,
#ibm-content-main ol {
    /*padding: 0 0 15px;*/
    margin: 0;
    list-style: none;
    font-size: 1rem;
    line-height: 1.625rem;
}

#ibm-content-main ul>li,
#ibm-content-main ol>li {
    list-style: none;
}

#ibm-content-main .ibm-graphic-tabs .ibm-tabs {
    padding: 0;
}


/*
ul {
    list-style: disc;
}
 */

ol>li {
    padding-left: 13px;
}

#ibm-masthead {
    z-index: 400;
}

#edit-openid-connect-client-generic-login {
    border: 1px solid;
    font-size: 16px;
    font-weight: 400;
    color: #2574a9;
    background-color: #ffffff;
    margin-bottom: 9px;
    margin-right: 16px;
    border-radius: unset;
    background-image: none;
}


.dblue-table-container,
.dblue-pre-container {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#ibm-content-main .ibm-data-table tbody tr a {
    color: #3b6caa;
}

ul.northstar-tabs>li {
    padding-left: 0;
}

ul.northstar-tabs li+li {
    padding-top: 0;
}

ul.clearfix.toolbar-menu li.menu-item::before,
ul.ibm-stock-list>li::before,  /* #512a */
ul.northstar-tabs>li::before,
ul.toolbar-menu li::before {
    content: none;
}

#ibm-com .toolbar-tab,
#ibm-com .toolbar-tab div,
#ibm-com .toolbar-tab div ul {
    font-size: 0.8rem;
}

#ibm-com ul.clearfix.toolbar-menu>li.menu-item,
#ibm-com ul.toolbar-menu>li {
    padding-left: 0;
    padding-top: 0;
}

.ibm-northstart-paddingBottom {
    padding-bottom: 15px;
}

#ibm-content-main .ibm-cc-middle {
    padding: 0 5px 0 5px;
}

#ibm-content-main .ibm-carousel-controls button.ibm-chevron-left-regular-link,
#ibm-content-main .ibm-carousel-controls button.ibm-chevron-right-regular-link {
    display: ruby-text;
    height: 32px;
}


/*
* For comment content
*/

.comment__content {
    border-radius: 8px;
}

.dataTables_wrapper {
    padding: 0 0 25px;
}

.northstar.ibm-rule {
    border-top: 1px dotted #c7c7c7;
    clear: both;
    margin: 15px 0 15px;
    min-height: 1px;
}

#search-header-small h3 a {
    color: #FFFFFF;
    text-decoration: inherit;
}

#ibm-footer-locale-selector {
    display: none;
}

input[name="subScrInput"] {
    margin-right: 5px;
}

code.hljs {
    display: inline-block;
}

/* #512a begin */
#ibm-com.page-node-type-apar #ibm-content-main .ibm-columns ul.ibm-stock-list h3,
#ibm-com.page-node-type-apar #ibm-content-main .ibm-container .ibm-container-body ul.ibm-stock-list h3 {
    float: none;
    display: inline;
}

#ibm-com.page-node-type-apar #block-ibm-carbon-content {
    display: none;
}

#ibm-com.page-node-type-apar #block-ibm-carbon-content pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */    
}
/* #512a end */

/* #659a begin */
.page-node-type-software-lifecycle dt {
    clear: both;
    color: #666;
    margin-right: .5em;
    float: left;
}

.page-node-type-software-lifecycle dt:after {
    content: ": ";
}

.page-node-type-software-lifecycle dd {
    float: left;
    margin: 0 0 5px 0;
}

#ibm-com.page-node-type-passport-advantage #ibm-content-body {
    padding-top: 0px;
}
/* #659a end */

.bottom_fixed {
    bottom: 48px !important;
}

#supportChatButton {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 111px;
    height: 48px;
}

#supportChatButton:hover {
    box-shadow: inset 0 0 0 1px #0f62fe, inset 0 0 0 2px #fff;
}

@media only screen and (max-width: 768px) {
    #supportChatButton {
        right: 190px;
        padding: 3px;
        border-right: 1px solid #262626;
    }
    .bottom_fixed {
        bottom: 0px !important;
    }
}

/*DISDEV-1108 start*/
span[style^='font-family:IBM Plex'] {
    word-break: break-word;
}
/*DISDEV-1108 end*/

@media only screen and (min-width: 1480px){
    .page-node-type-w3-passport-advantage .ibm-col-4-1 {
       width: 340px;
    }
  }

tt, samp {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace!important;
}

#ibm-drupal-render-page-content #block-ibm-carbon-page-title {
    display: none;
}
.page-node-type-w3-passport-advantage #ibm-content-body {
    padding-top: 0px;
}
.page-node-type-w3-passport-advantage #ibm-content-main {
    top: 0px!important;
}
.page-node-type-w3-passport-advantage .ibm-no-links::before {
    left: unset;
}

/*nested show-hide left padding*/
.ibm-container-body.ibm-container-body {
    padding: 0 10px;
}

/*apars input buttons fix*/
#ibm-subscribe-section input.bx--btn.bx--btn--secondary {
    white-space: normal;
}

.view-id-tif_messages ol>li::before, .view-id-tif_messages ul>li::before {
    display: none;
}