.toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-support-search-tab::before {
    background-image: url("../images/icons/loupe.svg");
    width: 20px;
    left: 0.8em;
    background-size: 100% auto;
}

.toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-support-search-tab.is-active::before {
    background-image: url("../images/icons/loupe.svg");
    width: 20px;
    left: 0.8em;
    background-size: 100% auto;
}

@media only screen and (min-width: 0px) and (max-width:579px) {
    .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-support-search-tab::before {
        left: 1.2em;
    }
    .toolbar .toolbar-bar .toolbar-tab>.toolbar-icon.toolbar-icon-support-search-tab.is-active::before {
        left: 1.2em;
    }
}