<web-app>
	<display-name>nonPoliceXML 03-23-1994</display-name>
	<servlet>
		<servlet-name>nonPoliceXML</servlet-name>
		<servlet-class>gov.archives.clintonwhitehouse5.partner.nonPoliceMXL<servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nonPoliceXML</servlet-name>
		<url-pattern>/nonPoliceXML</url-pattern>
	</servlet-mapping>
</web-app>
